# Database Connection (PostgreSQL)
DATABASE_URL="postgresql://ritikraj:@localhost:5432/onefi_assessment?schema=public"

# Server Configuration
PORT=4000
NODE_ENV=development

# CORS Frontend Origin
FRONTEND_URL="http://localhost:5173"
